<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Entity RPG</title>
  <link th:href="@{/css/game.css}" type="text/css" rel="stylesheet" />
</head>
<body>
<!--<div class="menu-delete">-->
<h1 class="colh1"><center>Error. You did something wrong...</center></h1>
<h2 class="coltxt"><center>Nice try!. Anyway there is a bodyguard regular expression. Think about how to pass url in it!<br>
  Regular Expression: ".*\/\/.*\/" <br>I heard it is possible to serve DTD with python script :)</center></h2>
<!--</div>-->
<br>

</body>
</html>