<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Entity RPG</title>
  <link th:href="@{/css/game.css}" type="text/css" rel="stylesheet" />
</head>
<body>
<!--<div class="menu-delete">-->
<h2 class="coltxt2">Please enter Your UUID!</h2>
<form th:action="@{/loadchar}" th:object="${UUID}" method="post">
    <input name="UUID" id="UUID" class="form-textfield" type="text">
    <input class="button-create" type="submit" value="Load!">
</form>
<!--</div>-->
<br>
</body>
</html>